/* FOOTER */
footer {
    background-color: #4e4e4e;
    color: white;
    padding: 40px 20px;
}

footer a {
    text-decoration: none;
    color: white;
}

.content-ft {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 60px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

/* COLUNA 1 - LOGO */
.logo {
    flex: 1;
    min-width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.logo-img img {
    width: 180px;
}

.logo ul {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.logo ul li {
    font-size: 30px;
}



/* COLUNA 2 E 3 - LINKS */
.links, .links2 {
    flex: 1;
    min-width: 160px;
}

.links ul, .links2 ul {
    list-style: none;
    padding: 0;
}

.links ul li, .links2 ul li {
    padding: 12px 0;
    font-size: 18px;
}


/* COLUNA 4 - DIREITOS */
.direitos {
    flex: 1;
    min-width: 220px;
    font-size: 16px;
    line-height: 22px;
    margin-top: 15px;
}


/*RESPONSIVIDADE*/

/* 1024px */
@media (max-width: 1024px) {
    .content-ft {
        justify-content: center;
        text-align: center;
    }

    .direitos {
        text-align: center;
        margin: 0 auto;
    }
}

/*768px*/
@media (max-width: 768px) {
    .content-ft {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .logo, .links, .links2, .direitos {
        margin: 0 auto;
    }

    .logo ul {
        justify-content: center;
    }
}

/*480px*/
@media (max-width: 480px) {
    .links ul li, .links2 ul li {
        font-size: 16px;
    }

    .direitos {
        font-size: 14px;
    }
}