/* NAVBAR */
.navbar {
    height: 120px;
    background-color: #e9e7e7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.navbar img {
    height: 100px;
}

/* DESKTOP */
.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #115b66;
}

/* MENU HAMBURGUER (MOBILE) */
.menu-btn {
    display: none;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
}

.menu-btn span {
    width: 30px;
    height: 3px;
    background: #000;
    transition: 0.4s;
}

/* MOBILE */
@media (max-width: 900px) {
    .menu-btn {
        display: flex;
    }

    .nav-links {
        position: fixed;
        top: 80px;
        right: -100%;
        width: 100%;
        height: calc(100% - 80px);
        background: white;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        transition: 0.4s;
        font-size: 22px;
    }

    .nav-links.active {
        right: 0;
    }
}